


/*****************************************************************
global
*****************************************************************/

body {margin:0 auto; font-family:Arial, Helvetica, sans-serif;}
*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}


/*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*/
.wrapper {height:100%; max-width:56.88em; margin:0 auto; background-color:#00f6ff;}
.colu1{width:12.5%} .colu2 {width:25%} .colu3{width:37.5%} .colu4{width:50%} 
.colu5{width:62.5%} .colu6{width:75%} .colu7{width:87.5%} .colu8{width:100%}
	
/*****************************************************************
end global
*****************************************************************/

/*****************************************************************
appPreview
*****************************************************************/

body #appPreView	{width:1024px; height:400px; margin:10% auto 0 auto;}
#appPreView #loader {height:70%; widht:100%;}
#appPreView #loader .alignCenter {height:70%; width:100%; position:relative; overflow:hidden;}
.previewLogo {height:27%; width:19%; margin:0 0 0 -10%; background:transparent url('images/nyci_logo2_2.png') no-repeat center center; position:absolute; left:50%; bottom:-1%;}
#appPreViewProgressBar {height:52%; width:10%; background-color:#f9fa57; margin:0 0 0 -5%; box-shadow:0px 0px 4px 1px orange; border-radius:50%; position:absolute; left:50%; bottom:-29%;}
#appPreViewProgressText {text-align:center;}

/*****************************************************************
end appPreview
*****************************************************************/


/*****************************************************************
header
*****************************************************************/

header .deliciousFashions {text-align:center; line-height:2em; font-size:0.85em; color:#666666; background-color:#eeeeee;}
.headerContact {color:#666666;}
.headerContact .links {font-size:0.7em; padding:0.2em 0.8em 0 0.8em; color:#333333;}
.headerCall {padding:0 0 0 0.8em;}
.headerCall span {font-size:0.7em; color:#cccccc;}


/*****************************************************************
end header
*****************************************************************/


/*****************************************************************
footer
*****************************************************************/

footer {background-color:blue; clear:both;}

/*****************************************************************
end footer
*****************************************************************/


/*****************************************************************
homepage
*****************************************************************/



/*****************************************************************
end homepage
*****************************************************************/


/*****************************************************************
media queries
*****************************************************************/

/*MEDIA 900 16col*/
@media screen and (max-width: 56.25em) {
	.wrapper {height:100%; max-width:50em; margin:0 auto; background-color:#00f6ff;}
	
	.headerWrap {font-size:0.7em;}
}

/*MEDIA 768 8col*/
@media screen and (max-width: 48em) {
	.wrapper {height:100%; max-width:42.66666em; margin:0 auto; background-color:#00f6ff;}
}

/*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
	.colu1{width:12.5%} .colu2 {width:25%} .colu3{width:37.5%} .colu4{width:50%} 
	.colu5{width:62.5%} .colu6{width:75%} .colu7{width:87.5%} .colu8{width:100%}
*/

/*MEDIA 720 4col*/
@media screen and (max-width: 45em) {
	.wrapper {height:100%; max-width:40em; margin:0 auto; background-color:#00f6ff;}
	.colu1,.colu2 {width:25%} .colu4,.colu3 {width:50%} .colu6,.colu7 {width:75%} .colu5,.colu8 {width:100%}
	
	
}


/*MEDIA 640*/
@media screen and (max-width: 40em) {
	.wrapper {height:100%; max-width:35.55555em; margin:0 auto; background-color:#00f6ff;}
	
	.title {height:1em; background-color:red;}
}

/*MEDIA 480*/
@media screen and (max-width: 30em) {
	body {font-size:1.0625em;}
	.wrapper {height:100%; max-width:26.66666em; margin:0 auto; background-color:#00f6ff;}
	
	
}

/*MEDIA 320*/
@media screen and (max-width: 20em) {
	.wrapper {height:100%; max-width:17.77777em; margin:0 auto; background-color:#00f6ff;}
	
	
}



/*****************************************************************
end media queries
*****************************************************************/










